.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
}

a {
  margin-top: 2rem;
  width: 5rem;
  background-color: #cb3c86;
}

a:hover {
  background-color: #77646e;
}
img {
  width: 40vw;
}
